h1 {
    /* color: rgb(246, 246, 246); */
    text-align: center
}

.body {
    
   background-color: rgb(176, 84, 19);
   
}

.nav {
    
    background-color: rgb(246, 246, 246);
    justify-content: space-around;
    padding: 0 33%;
    position: fixed;
    width: 100%;
    box-shadow: 10px 10px 8px #888888;
    font-size: 20px;
    z-index: 10;

}

.jumbotron {

    /* background-image: url(https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?cs=srgb&dl=pexels-pixabay-373543.jpg&fm=jpg); */
    background-image: url() ;
   height: 800px; 
    /* background-repeat: no-repeat; */
}

.jumbo-first, .jumbo-end{
    
    background-color: aqua;
}
.container p {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.experience-section {
    /* width: 100%; */
    /* gap: 20px; */
    /* padding: 10px; */
    /* margin: 0 auto; */
    background-color: ;
    margin-top:30px auto;
    margin-bottom: ;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content:space-around;
}

.card-header {
    text-align: center;
    font-weight: 600;
}
.card-body{
    text-align: center;
}


.card {
    padding: 60px;
    background-color: #f0f0f0;
    border-color: white;
}

.jumbotron {
    text-align: center;
}

.conatiner a {

    padding-top: 50px;
}

.footer-section {
    padding-top: 20px;
    justify-content: space-around;
    background-color: rgb(47, 44, 44);
    height: 500px;
    color: white;

}
.footer-section h2 {

    font-weight: 100;
    font-size: 25px;
}

.skills-section {

    background-color: rgb(255, 255, 255);
margin-top: 0px;
padding-top: 50px;
}

.skills {
    padding-top: 50px;
    padding-bottom: 150px;
}

.row {

    justify-content: space-around;
}
.btn {

    margin-left: 20px;
}

.work-one {
margin-top: 50px;
margin-bottom: 50px;
}
.work-two{
    margin-top: 50px;
}

.about-me{
padding-top: 50px;
padding-bottom: 50px;
    background-color:white;

}

.contact h1{
    color: white;
}
.about{
    margin: 50px 0 50px 0;
}

.about .card {
    background-color:white;
    font-size: 30px;

}
.contactme {

    background-color: azure;
    padding: 50px 0 50px 0;

}
.contact {
    padding: 50px 0 50px 0;
}

#email {
    padding:0 100px 0 100px;
}
.sideAccent {

  background: #007bff;
  width: 15px;
}

.form-group {

    margin-right: 600px;
}
ul {

    padding: 20px;
}